/* ==========================================================================
   Nav Styles
   ========================================================================== */

.navbar {
    background-color: #F7F3E0;

}

.nav-link {
    color: #1b4e9f;
}

.nav-link.active {
    color: #F7F3E0 !important;
    background-color: #1b4e9f;
}

/* ==========================================================================
   button Styles
   ========================================================================== */

.btn-outline-blue {
    background-color: transparent;
    border: 2px solid #1b4e9f;
    color: #1b4e9f;
}

.btn-outline-blue:hover,
.btn-outline-blue:active,
.btn-outline-blue:focus {
    background-color: #1b4e9f;
    color: #F7F3E0;
}

.btn-outline-tan {
    background-color: transparent;
    border: 2px solid #F7F3E0;
    color: #F7F3E0;
}

.btn-outline-tan:hover,
.btn-outline-tan:active,
.btn-outline-tan:focus { 
    background-color: #F7F3E0;
    color: #1b4e9f;
}

/* ==========================================================================
   Bring Past Future Section
   ========================================================================== */

.bring-past-bg {
    background-image: url('../images/bring-past-future.jpg');
    background-color: #101010;
    background-size: cover;
    background-position: center center;
}

.txt-tan {
    color: #F7F3E0;
}

.velociraptor {
    position: absolute;
    z-index: 1;
    width: 38%;
    right: 0;
}

/* ==========================================================================
   Details Section
   ========================================================================== */

.details-bg {
    background-image: url('../images/details-bg.png');
    background-color: #1b4e9f;
    background-size: cover;
    background-position: center center;
}

.txt-md {
    font-size: 1.5rem;
}

/* ==========================================================================
   Innovative Immersive Section
   ========================================================================== */

.innovative-immersive-bg {
    background-image: url('../images/innovative-immersive.jpg');
    background-color: #F7F3E0;
    background-size: cover;
    background-position: center center;
}

.txt-blue {
    color: #1b4e9f;
}

.txt-lg {
    font-size: 2.8rem;
}


@media (max-width: 767px) {
    .innovative-immersive-bg {
        background-image: url('../images/innovative-immersive-mobile.jpg');
    }
}

/* ==========================================================================
   Exhibition Section
   ========================================================================== */

.exhibition-bg {
    background-image: url('../images/exhibition-bg.jpg');
    background-color: #F7F3E0;
    background-size: cover;
    background-position: center center;
}


/* ==========================================================================
   Back-to-Top Button
   ========================================================================== */
.back-to-top {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    --icon-opacity: 1;
    transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, background-color 0.25s ease-in-out;
    display: none;
}

.back-to-top.show {
    display: block;
}

/* ==========================================================================
   Footer Section
   ========================================================================== */

footer {
    background-color: #F7F3E0;
    color: #1b4e9f;
    padding: 10px 0;
}